
/Base/*.dsc
/Base/*.changes
/Base/*.tar.gz]
/Base/base.changelog

/Filesystem/*
/Kernel/*
/Image/*
/Initrd/*
!/Initrd/init*
!/Initrd/lib
!/Initrd/bin/mask2cidr
.SyncID
.SyncIgnore
/Sources/busybox/*

*~
.~*
*-stamp
