[submodule "Sources/aufs3-standalone"]
	path = Sources/aufs3-standalone
	url = git://git.code.sf.net/p/aufs/aufs3-standalone
[submodule "Sources/busybox"]
	path = Sources/busybox
	url = git://git.busybox.net/busybox
[submodule "Initrd/lib/firmware"]
	path = Initrd/lib/firmware
	url = git://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
[submodule "Sources/linux-firmware"]
	path = Sources/linux-firmware
	url = git://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
