/Base
!/Base/base-2.0/
/Base/base-2.0/debian/*
!/Base/build-howto/

/Bbox-build-chroot/*

/Filesystem/*
/Kernel/*
/Image/*
/Initrd/*
!/Initrd/init*
!/Initrd/lib
!/Initrd/bin/mask2cidr
.SyncID
.SyncIgnore
/Sources/busybox/*
/Packages/Incoming/*
*~
.~*
*-stamp
