/Base
/BACKUPS
!/Base/base-2.0/
/Base/base-2.0/debian/*
!/Base/build-howto/

/Bbox-build-chroot/*

/Filesystem/*
/Kernel/*
/Image/*
.SyncID
.SyncIgnore
/Sources/busybox/*
/Packages/Incoming/*
*~
.~*
*-stamp
